
@import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default;
 }
/* body {
  overflow-y: hidden;
} */
 
.input {
  @apply border border-gray-300 rounded px-3 py-2 w-full mb-3 focus:outline-none focus:ring focus:border-blue-500;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background: #fef3c7;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #f59e42;
  border-radius: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #fbbf24;
}
